<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                                (click)="openCreateCommande('commande')"></button>


                    <button pButton pRipple label="Recherche"
                            icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            class="p-button-success p-mr-2 p-mb-2"
                            (click)="this.findByCriteriaShow = !this.findByCriteriaShow"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label="Exporter" icon="pi pi-download" styleClass="p-button-help" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="align-form-search">
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="1"
                                           type="text"  [(ngModel)]="searchCommande.reference">
                                    <label for="1">Reference</label>
                                </span>

                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchCommande.dateCommandeMin"
                                    id="2-1"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="2-1">Date commande Min</label>
                        </span>

                         <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchCommande.dateCommandeMax"
                                    id="2-2"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="2-2">Date commande Max</label>
                        </span>

                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="clients" [(ngModel)]="searchCommande.clientVo"
                                        id="5"
                                        [filter]="true" [showClear]="true"
                                        optionLabel="cin">
                                </p-dropdown>
                                <label for="5">Client</label>
                            </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <p-dropdown  id="9" [options]="yesno" [(ngModel)]="searchCommande.archive"
                                            [filter]="false" [showClear]="true"
                                                 optionLabel="label" optionValue="value">
                                    </p-dropdown>
                                   <label for="9">Archive</label>
                                </span>

                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchCommande.dateArchivageMin"
                                    id="10-1"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="10-1">Date archivage Min</label>
                        </span>

                         <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchCommande.dateArchivageMax"
                                    id="10-2"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="10-2">Date archivage Max</label>
                        </span>

                </div>

                <div class="align-search-button">
                    <button pButton pRipple label="Valider" icon="pi pi-sort-amount-down"
                            class="p-button-info p-mr-2" (click)="searchRequest()"></button>
                </div>
            </p-toolbar>


            <p-table #dt [value]="commandes" [columns]="cols" [rows]="4" [paginator]="true"
                    [globalFilterFields]="['reference', 'dateCommande', 'total', 'totalPaye', 'cin', 'archive', 'dateArchivage']" [(selection)]="selectedCommande"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                                      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Liste des Commandes</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search..." (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                                
                                <th pSortableColumn="reference">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Reference</span>
                                        <p-sortIcon field="reference"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="dateCommande">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Date commande</span>
                                        <p-sortIcon field="dateCommande"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="total">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Total</span>
                                        <p-sortIcon field="total"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="totalPaye">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Total paye</span>
                                        <p-sortIcon field="totalPaye"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="client">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Client</span>
                                        <p-sortIcon field="client"></p-sortIcon>
                                    </div>
                                </th>
                                





                                
                                <th pSortableColumn="archive">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Archive</span>
                                        <p-sortIcon field="archive"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="dateArchivage">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Date archivage</span>
                                        <p-sortIcon field="dateArchivage"></p-sortIcon>
                                    </div>
                                </th>
                                


                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-commande>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="commande"></p-tableCheckbox>
                        </td>
                            
                                 <td>{{commande.reference}}</td>
                            

                            
                                <td>{{commande.dateCommande | date:'dd-M-yyyy' }}</td>
                            

                            
                                 <td>{{commande.total}}</td>
                            

                            
                                 <td>{{commande.totalPaye}}</td>
                            

                            
                                <td>{{commande.clientVo?.cin}}</td>
                            

                            
                                <td><i *ngIf="commande.archive" class="pi pi-check checked-toogle"></i>
                                    <i *ngIf="!commande.archive" class="pi pi-times unchecked-toogle"></i>
                                </td>
                            

                            
                                <td>{{commande.dateArchivage | date:'dd-M-yyyy' }}</td>
                            


                        <td>
                            <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2"
                                    (click)="editCommande(commande)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                    (click)="viewCommande(commande)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"
                                    (click)="deleteCommande(commande)"></button>

                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning"
                                    (click)="duplicateCommande(commande)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{commandes ? commandes.length == 1 ? 'y a' : 'y a' : 'y a' }} {{commandes ? commandes.length : 0 }} {{commandes ? commandes.length == 1 ? 'commande' : 'commandes' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-commande-create-chercheur></app-commande-create-chercheur>
        <app-commande-edit-chercheur></app-commande-edit-chercheur>
        <app-commande-view-chercheur></app-commande-view-chercheur>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
